
{% extends "base.html" %}

{% block title %}h4sski Home page{% endblock %}

{% block active_home %}active{% endblock %}
{% block active_link %}{% endblock %}

{% block content %}

<div class="row">

    <div class="col col-2 mb-2">
        <div class="card h-100"><div class="card-body">
            <h4 class="card-title">Skills</h4>
        </div></div>
    </div>
    <div class="col">
        {% for skill in skills %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">{{ skill.name }} title</h4>
                        <p class="">{{ skill.level }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row">

    <div class="col col-2 mb-2">
        <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title">Experience</h4>
        </div></div>
    </div>
    <div class="col">
    {% for card in cards %}

    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4 class="card-title">{{ card.role }}</h4>
                    <p class="">{{ card.company_name }}</p>
                </div>
                <img class="card-img-top col-auto" style="height: 60px; width: auto;" src="{{ card.img_link }}" alt="{{ card.company_name }}" />
            </div>
            <div class="card-text">
                <a>{{ card.duration }}</a><br>
                <a>{{ card.start_date }} ~ {{ card.end_date }}</a>
                <div class="card-text">
                    <p>{{ card.description | linebreaks }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}

